/* regual and regular */
.foo-1 {
    foo-1: a;
    bar-1: c;
}

.bar-1 {
    foo-1: b;
    bar-1: c;
}

/* !important and regular */
.foo-2 {
    foo-2: a !important;
    bar-2: c;
}

.bar-2 {
    foo-2: b;
    bar-2: c;
}

/* regular and !important */
.foo-3 {
    foo-3: a;
    bar-3: c;
}

.bar-3 {
    foo-3: b !important;
    bar-3: c;
}

/* !important and !important */

.foo-4 {
    foo-4: a !important;
    bar-4: c;
}

.bar-4 {
    foo-4: b !important;
    bar-4: c;
}

/*! better
  .bar-1,.foo-1{foo-1:a;bar-1:c}.bar-1{foo-1:b}.foo-2{foo-2:a!important}.bar-2,.foo-2{foo-2:b;bar-2:c}.bar-3,.foo-3{foo-3:a;bar-3:c}.bar-3{foo-3:b!important}.bar-4,.foo-4{foo-4:a!important;bar-4:c}.bar-4{foo-4:b!important}
*/
