ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

ul,
ol,
dl {
    line-height: 1.25;
    margin-bottom: 1rem;
    list-style-position: outside;
}

li {
    font-size: inherit;
}

ul {
    list-style-type: disc;
    margin-left: 1.25rem;
}

ol {
    margin-left: 1.25rem;
}

ul ul, ol ul, ul ol, ol ol {
    margin-left: 1.25rem;
    margin-bottom: 0;
    list-style-type: inherit;
}
