/* test from https://github.com/hail2u/node-css-mqpacker */
/* compress.options{ "forceMediaMerge": true } */
.foo {
  z-index: 0;
}

@media (min-width: 99px) {
  .foo {
    z-index: 1;
  }
}

@media (min-width: 999px) {
  .foo {
    z-index: 3;
  }
}

@media (min-width: 99px) {
  .bar {
    z-index: 2;
  }
}
