/* https://github.com/css/csso/issues/420 */
.foobar {
    padding: var(--button-size-m-text-indentAll);
    padding-right: var(--button-size-m-icon-indentRight);
}
.baz {
    margin: var(--baz);
    margin-right: 1px;
}
.qux {
    padding: 10px 20px;
    padding-right: var(--qux);
}
