/* simplified keyframes-5.css */

@keyframes test {
  0%, 60%, 75%, 90%, 100% {
    -webkit-a: 1;
    a: 1;
  }

  0% {
    b: 0;
    -webkit-c: 2;
    c: 2;
  }

  60% {
    b: 1;
    -webkit-c: 3;
    c: 3;
  }

  75% {
    -webkit-c: 4;
    c: 4;
  }

  90% {
    -webkit-c: 5;
    c: 5;
  }

  100% {
    -webkit-c: none;
    c: none;
  }
}
