/* TRBL values */
.test1 {
    margin: 0 0px 0% 0rem;
    padding: 0 0px 0% 0rem;
}

.test2 {
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;

    padding-top: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
    padding-right: 0%;
}

/* safe properties */
.test3 {
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;

    line-height: 0%;

    background-position: 0%;
    background-position-x: 0%;
    background-position-y: 0%;

    border: 0%;
    border-width: 0%;
    border-top-width: 0%;
    border-left-width: 0%;
    border-bottom-width: 0%;
    border-right-width: 0%;
    border-image-width: 0%;

    border-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

/* exclude: https://github.com/jakubpawlowicz/clean-css/issues/957 */
.exclude {
    width: 0%;
    min-width: 0%;
    max-width: 0%;

    height: 0%;
    min-height: 0%;
    max-height: 0%;

    flex: 0 0%;

    /* issue #395 */
    color: hsla(0, 0%, 82.4%, .8);
}
