.a {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
    margin-right: 5rem;
}
.b {
    margin-top: 6rem;
    margin-left: 7rem;
    margin-bottom: 6rem;
    margin-right: 7rem;
}
