ea, ebb, ecc, edd, ee {
  -webkit-a: 1;
  a: 1;
}

ea {
  b: 0;
  -webkit-c: 1;
  c: 1;
}

ebb {
  b: 1;
  -webkit-c: 2;
  c: 2;
}

ecc {
  -webkit-c: 3;
  c: 3;
}

edd {
  -webkit-c: 4;
  c: 4;
}

ee {
  -webkit-c: none;
  c: none;
}
