/* test from https://github.com/hail2u/node-css-mqpacker */
/* compress.options{ "forceMediaMerge": true } */
.foo {
  z-index: 1;
}

@media (min-width: 1024px) {
  .foo {
    z-index: 3;
  }
}

@supports (display: auto) {
  .foo {
    z-index: 2;
  }

  @media (min-width: 1024px) {
    .foo {
      z-index: 4;
    }
  }
}

@media (min-width: 1024px) {
  .bar {
    z-index: 5;
  }
}
