/* test from https://github.com/hail2u/node-css-mqpacker */
@charset "UTF-8";

@import "import.css";

@font-face {
  font-family: F;
  src: local("F");
}

@media (min-width: 99px) {
  .foo {
    z-index: 1;
  }
}

@media (min-width: 99px) {
  .bar {
    z-index: 2;
  }
}
