*.a, *#b, *:c, *::d, *:e(), *[f], :not(*), :not(*.a) {
    p1: v;
}

*.a .a, *#b + #b, *:c > :c, *::d ~ ::d, *:e() /deep/ *:e(), *[f] [f] {
    p2: v;
}

*.a *, *#b + *, *:c > *, *::d ~ *, *:e() /deep/ *, *[f] * {
    p3: v;
}

* *, * + *, * > *, * h1, * ~ *, * /deep/ *, *, * * * {
    p4: v;
}

:not(*.a, *#b, *:c, *::d, *:e(), *[f], :not(*), :not(*.a)) {
    p5: v;
}
