a {
    padding: 0;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 3em;
}
b {
    padding: 0;
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 4em;
}
c {
    padding: 0;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 4em;
}
d {
    padding: 0;
    padding-right: 2em;
    padding-bottom: 3em;
    padding-left: 4em;
}
