a {
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 3em;
    padding-left: 2em;
}
b {
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
}
c {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}
