a {
padding-right: 2em;
padding-bottom: 3em;
padding-left: 4em;
}
b {
padding-top: 1em;
padding-bottom: 3em;
padding-left: 4em;
}
c {
padding-top: 1em;
padding-right: 2em;
padding-left: 4em;
}
d {
padding-top: 1em;
padding-right: 2em;
padding-bottom: 3em;
}
