.a {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: red url(//test/ru);
}

.c {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.d {
    position: absolute;
}

.b {
    position: relative;
    width: 100%;
    height: 50px;
    background: red;
}