/* gonzales wrongly parses this kind of selectors */
a,{ case: 1; }
a,,{ case: 2; }
a, { case: 3; }
a,, { case: 4; }
a,,b{ case: 5; }
,b{ case: 6; }
,,b{ case: 7; }
 ,b{ case: 8; }
 ,,b{ case: 9; }
,{ case: 10; }
,,{ case: 11; }
