/*
  Bootstrap and others uses \9 hack to target IE8-9
  When value has \9 it should be avoid of merge
*/

.a {
  border-top: 4px dashed;
  border-top: 4px solid \9;
}
.b {
  margin: 5px;
  margin: 4px \9;
  padding: 5px;
  padding: 4px \9;
  background: 10px 20px;
  background: 20px 30px \9;
}
.c {
  margin: 4px 0 0;
  margin-top: 1px \9;
}
