.FOO { COLOR: RED; }
DIV:NTH-CHILD(2N + 1):NOT(#TEST) {
    BORDER: 1PX SOLID GREEN;
}
@MEDIA SCREEN AND (MIN-WIDTH: 1000PX) {
    #BAR {
        BACKGROUND: RGBA(255, 0, 0, 0) PADDING-BOX;
    }
}
#FOO:FIRST-CHILD:BEFORE,
[ATTR=FOO]:NTH-LAST-CHILD(ODD)::AFTER,
::SELECTION:LAST-CHILD:TEST() {
    BORDER: CALC(1PX + 5%) VAR(--Color, RED);
    Padding: CALC(VAR(--TEST) * 10EM);
    Background: URL(DATA:image/png;base64,...), LINEAR-GRADIENT(TO TOP, BLACK, TRANSPARENT, WHITE);
    LEGACY: EXPRESSION(ALERT('!!!'));
    FILTER: PROGID:DXIMAGETRANSFORM.MICROSOFT.ALPHAIMAGELOADER(SRC='TEST.PNG',SIZINGMETHOD='SOMETHING');
    FONT: Arial, Sans-serif;
    --VAR: TEST;
}
/*@SUPPORTS (COLOR: RGBA(255, 0, 0, 0)) AND (WIDTH:VAR(--WIDTH, 10px)) {
    @KEYFRAMES TEST {
        FROM { COLOR: RED; }
        TO { COLOR: GREEN; }
    }
}*/
