.csstxt {
    width:100%;
    height:200px;
}

.first {
    width:20%;
    padding-right:10%;
    background-color:green;
}

.second {
    padding-right:10%;
    background-color:yellow;
}

.third {
    background-color:red
}